$mainColor: #0C0C0C;
$mainText: #CCCCCC;
$headerText: #0DBC79;
$subHeadingText: #BC3FBC;
$listText: #C9DA13;
$navColor: #000000;
$navText: #FFFFFF;
$linkText: #11A8CD;
$codeBackground: #1E1E1E;
$typeFace: 'Roboto', sans-serif;

* {
    box-sizing: border-box;
    &:before, &:after{
        box-sizing: border-box;
    }
}

html,
body {
 height: 100%;
 position: relative;
}

body {
    background-color: $mainColor;
    color: $mainText;
    font-family: $typeFace;
    font-size: 18px;
    #main-doc{
        min-height: 100vh; /* 100% of Viewport */
        overflow: hidden;
        display: block;
        position: relative;
        padding-bottom: 200px; /* Footer Height */
        .main-section {
          padding: 20px 60px !important;
          margin: 0 auto;
          ul {
            li {
              color: $listText;
            }
            .gitStatus {
              color: $mainText;
              list-style-type: square;
              margin: 0 0 10px 50px;
            }
          }
          .codeContainer {
              background-color: $codeBackground;
              padding: 15px;
              border-radius: 5px;
              display: inline-block;
              margin-top: 5px;
          }
        }
        .anchorLinks {
          color: $linkText;
          margin-right: 10px;
          &:hover {
            text-decoration: underline overline;
          }
        }
        .refLinks {
          color: $linkText;
          &:hover {
            text-decoration: underline overline;
          }
        }
        .sectionHeader {
          color: $headerText;
          font-size: 40px;
          margin-bottom: 0;
        }
        .subHeading {
          color: $subHeadingText;
          font-size: 20px;
          margin: 0;
        }
        #scriptTest {
          position: fixed;
          bottom: 0;
          right: 5px;
          z-index: 10;
          width: 35px;
          height: auto;
          &:hover {
            cursor: pointer;
          }

          #fccLogo {
            width: 100%;
            height: 100%;
          }
        }
        code {
          font-family: 'Courier New', Courier, monospace;
        }
    }
    nav {
        background-color: $navColor !important;
        header {
          color: $mainText !important;
          display: block;
          white-space: nowrap;
          padding: 0 32px;
          margin: 32px 0 0 0;
          #compCubeContainer {
            display: inline-block;
            width: 45px;
            height: 45px;
            #compCube{
              width: 100%;
              height: 100%;
            }
          }
          h1 {
            display: inline-block;
            font-size: 30px;
            font-weight: 700;
            margin: 0;
          }
        }
        .sidenav-close {
          color: $navText;
          &:hover {
            color: $headerText;
            background-color: $mainColor;
          }
        }
    }
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 200px;
        padding: 0;
        background-color: $navColor;
        color: $navText;
    }
    main, footer {
      padding-left: 300px;
    }
}

#fcc_test_suite_wrapper {
  display: none;
}

.material-tooltip {
  background-color: $navColor;
  .tooltip-content {
    color: $navText;
  }
}

.material-icons {
  background-color: $mainColor;
  border: 1px solid $navText;
  z-index: 10;
  color: $navText;
  font-size: 40px;
  position: fixed;
  top: 5px;
  left: 5px;
}

@media only screen and (max-width : 992px) {
  body {
    font-size: 16px;
  }
  main, footer {
    padding-left: 0 !important;
  }
  nav {
    border-right: 1px solid $navText;
  }
  body{
    #main-doc{
      .main-section {
        padding: 20px 50px !important;
      }
    }
  }
  .sectionHeader {
    text-align: end;
    font-size: 30px !important;
  }
    .subHeading {
    text-align: end;
    font-size: 15px !important;
  }
}