$mainColor: rgb(43, 40, 40);
$secondaryColor: rgb(248, 241, 241);
$tertiaryColor: gold;

body {
    background-color: $mainColor;
    color: $secondaryColor;
    nav {
        background-color: $tertiaryColor;
    }
    header, main, footer {
      padding-left: 300px;
    }
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0 !important;
  }
}