* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

body {
  background-color: #0C0C0C;
  color: #CCCCCC;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
body #main-doc {
  min-height: 100vh;
  /* 100% of Viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 150px;
  /* Footer Height */
}
body #main-doc .main-section {
  padding: 20px 60px !important;
  margin: 0 auto;
}
body #main-doc .main-section ul li {
  color: #C9DA13;
}
body #main-doc .main-section ul .gitStatus {
  color: #CCCCCC;
  list-style-type: square;
  margin: 0 0 10px 50px;
}
body #main-doc .main-section .codeContainer {
  background-color: #1E1E1E;
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 5px;
}
body #main-doc .anchorLinks {
  color: #11A8CD;
  margin-right: 10px;
}
body #main-doc .anchorLinks:hover {
  text-decoration: underline overline;
}
body #main-doc .refLinks {
  color: #11A8CD;
}
body #main-doc .refLinks:hover {
  text-decoration: underline overline;
}
body #main-doc .sectionHeader {
  color: #0DBC79;
  font-size: 40px;
  margin-bottom: 0;
}
body #main-doc .subHeading {
  color: #BC3FBC;
  font-size: 20px;
  margin: 0;
}
body #main-doc #scriptTest {
  position: fixed;
  bottom: 0;
  right: 5px;
  z-index: 10;
  width: 35px;
  height: auto;
}
body #main-doc #scriptTest:hover {
  cursor: pointer;
}
body #main-doc #scriptTest #fccLogo {
  width: 100%;
  height: 100%;
}
body #main-doc code {
  font-family: "Courier New", Courier, monospace;
}
body nav {
  background-color: #000000 !important;
}
body nav header {
  color: #CCCCCC !important;
  display: block;
  white-space: nowrap;
  padding: 0 32px;
  margin: 32px 0 0 0;
}
body nav header #compCubeContainer {
  display: inline-block;
  width: 45px;
  height: 45px;
}
body nav header #compCubeContainer #compCube {
  width: 100%;
  height: 100%;
}
body nav header h1 {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}
body nav .sidenav-close {
  color: #FFFFFF;
}
body nav .sidenav-close:hover {
  color: #0DBC79;
  background-color: #0C0C0C;
}
body footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: #000000;
  color: #FFFFFF;
  padding: 20px 60px !important;
}
body footer #socialIcons {
  position: absolute;
  bottom: 50px;
  display: flex;
}
body footer #socialIcons .socialWrapper {
  display: block;
  margin: 0 10px 0 0;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
}
body footer #socialIcons .socialWrapper:hover {
  border: 2px solid #11A8CD;
}
body footer #socialIcons .socialWrapper:hover .socialSvg {
  fill: #11A8CD !important;
}
body footer #socialIcons .socialWrapper .socialSvg {
  fill: #FFFFFF !important;
}
body footer #copyrightContainer {
  position: absolute;
  bottom: 0;
  font-size: 14px;
}
body main, body footer {
  padding-left: 300px;
}

#fcc_test_suite_wrapper {
  display: none;
}

.material-tooltip {
  background-color: #000000;
}
.material-tooltip .tooltip-content {
  color: #FFFFFF;
}

.material-icons {
  background-color: #0C0C0C;
  border: 1px solid #FFFFFF;
  z-index: 10;
  color: #FFFFFF;
  font-size: 40px;
  position: fixed;
  top: 5px;
  left: 5px;
}

@media only screen and (max-width: 992px) {
  body {
    font-size: 16px;
  }

  main {
    padding-left: 0 !important;
  }

  footer {
    padding: 0 !important;
  }
  footer #socialIcons, footer #copyrightContainer {
    left: 50%;
    transform: translate(-50%);
  }
  footer #socialIcons {
    bottom: 40px !important;
  }
  footer #socialIcons .socialWrapper {
    width: 35px !important;
    height: 35px !important;
    padding: 3px !important;
  }
  footer #copyrightContainer {
    font-size: 12px !important;
  }

  nav {
    border-right: 1px solid #FFFFFF;
  }

  body #main-doc .main-section {
    padding: 20px 50px !important;
  }

  .sectionHeader {
    text-align: end;
    font-size: 30px !important;
  }

  .subHeading {
    text-align: end;
    font-size: 15px !important;
  }
}

/*# sourceMappingURL=style.css.map */
